/* card*/

.card {
    padding: 10px;
    margin-bottom: 20px;
    width: 30%;
    text-align: center;
    border: 1px solid red;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgb(0, 99, 0);

    h2,
    figure,
    p {
        margin-bottom: 20px;
    }
}


/* immagine*/
figure {
    float: left;

    &::after {
        content: '';
        display: table;
        clear: both;

    }
}