// intestazione

header {
    padding: 10px;
    border-bottom: 2px solid red;
    box-shadow: 5px 0 5px rgb(1, 85, 1);
    background-color: white;
    margin-bottom: 20px;
}

// barra di navigazione
nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

// lista coi pulsanti di navigazione

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

// contenitore

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}